# MongoDB Bağlantı Adresi
MONGO_URI=mongodb://localhost:27017/
DB_NAME=ayssoft_bist_ai

# Redis Bağlantı Adresi (Celery ve FastAPI Önbellek için)
REDIS_URL=redis://localhost:6380/0

# Ollama Sunucu Adresi (LLM)
OLLAMA_HOST=http://localhost:11434

# WhatsApp Bildirim Servisi Ayarları (İsteğe Bağlı)
WHATSAPP_PHONE="+905XXXXXXXXX"
WHATSAPP_APIKEY="XXXXXX"
